
h2 {
    margin-left: 540px;
}

.Container {
    position: relative;
    top: 100px;
}

input[type=submit] {
    margin-left: 620px;
    position: relative;
    top: 50px;
    font: normal 20px courier !important;
}

input[type=text] {
    margin-left: 100px;
}

input[type=password] {
    margin-left: 108px;
}

label {
    margin-left: 500px;
    font: normal 16px courier !important;
}
